#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-image: url(https://wallpaperaccess.com/full/8261720.jpg);
  background-repeat: no-repeat ;
  justify-content: space-between; 
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}
