.login{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    background-color: #180729;
    justify-content: center;
    align-items: center;   

}
.login .formulario{
    box-sizing: border-box;
    background-color:#3c096c; 
    padding: 30px;
    border-radius: 80px;
    box-shadow: 0 0 30px rgba(0, -0, 0, -0.568);
    color: white;
    border: none;
    width: 100%;
    height: 80%;
    margin-bottom: 35%;
    margin-top: 6%;
}

.login .form-text{
    padding: 5px;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 40px;
    align-items: flex-start;
    display: flex;
    margin: 40px;
    justify-content: center;
    align-items: center;    
    }

.login .btn{
    margin: 8px;
    padding: 17px;
    border-radius: 10px;
    background-color: #180729;
    color: white;
    border: none;
    font-size: 20px;
    box-shadow: 0 0 30px rgba(0, -0, 0, -0.568);
    transition: 0.5s ease-in;
    font-weight: 700!important;

}

.login .btn2{
    border-radius: 10px;
    color: white;
    border: none;
    box-shadow: 0 0 30px rgba(0, -0, 0, -0.568);
    transition: 0.5s ease-in;
    font-weight: 700!important;

}

.boton{
    background-color: #3c096c;
}
.login  .btn:hover, .login .btn2:hover{
    background-color: #2a7727d2;
    color: white;
    border: none;
}

.login .inputs{
    border: white;
    background-color: white;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: black;
}