.navbar-body{
    background-color: #180729b0;
    font-size: 20px;
    font-weight: 500;
    position: fixed;
    top: 0;
    width: 100%;
    left:0;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    z-index: 5;
    flex-direction: row;
    
}

@media screen and (max-width: 768px){
    .navbar-body{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        right: 0;
        
   }
   .btn{
        width: 10%;
        text-align: center;
        font-size: 11px;
        margin-left: 1px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .admin{
        width: 110%;
        margin-right: -80px;
        margin-left: -155px; 
        
    }
    .nav-text{
        margin-left: -100px;
        
    }
    .iniciosesion{
        width: 100%;
        margin-top: -20px;
        margin-right: -100px;
        margin-left: 10px; 
        text-align: center;
    }
    .regresar{
        width: 100%;
        margin-top: -20px;
        margin-right: -100px;
        margin-left: 10px; 
        text-align: center;
    
    }
}


.nav-text{
    color: #ffffff !important;
    align-items: center;
    text-align: center;
    white-space: nowrap;
}


#navbar.scrolled{
    display: none;
}

.textos{
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
}

.btn{
    background-color: #7b2cbf;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 8px;
    margin-right: 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.50s;
    flex-direction: row;
}

.iniciosesion{
    flex-direction: row;
    margin-left: 10px;
}

.admin{
    flex-direction: row;
    margin-left: -700px;
}