.basep .formulario{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 75px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #180729b0;
    width: 100%;
    max-width: 500px;
    margin-left: 30%;
    color: #ffffff;
    font-size: large;
}

@media screen and (max-width: 768px){
    .basep .formulario{
        position: absolute;
        top: 11px;
        left:-140px;
        right: -40px;
        bottom: 0;
        height: 80%;
    }

}

.basep .input{
    flex-direction: row;
    margin-left: 15%;
    width: 200px;
    
}

.basep .info label{
    width: 200px;
    display: inline-block;
    margin-top: 3%;
}
.basep .info{
    margin-top: -10%;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
}
.basep .boton{
    flex-direction: column;
    margin-right: 5%;
    margin-top: 20px;
    background-color: #765689;
}