.formulario{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    margin-top: 80px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #180729b0;
    width: 100%;
    max-width: 500px;
    margin-left: 30%;
    color: #ffffff;
    font-size: large;
}
.info label{
    width: 200px;
    display: inline-block;
    margin-top: 3%;
}
.info{
    margin-top: -10%;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.input{
    margin-left: 15%;
    width: 200px;
}
.boton{
    flex-direction: column;
    margin-top: 20px;
    background-color: #765689;
}