.baseupdate .formulario{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    margin-top: 80px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #180729b0;
    width: 100%;
    max-width: 500px;
    margin-left: 30%;
    color: #ffffff;
    font-size: large;
}

@media screen and (max-width: 768px){
    .baseupdate .formulario{
        position: absolute;
        top: 5px;
        left:-140px;
        right: -40px;
        bottom: 0;
        height: 80%;
    }

}

.baseupdate .info label{
    width: 200px;
    display: inline-block;
    margin-top: 3%;
}
.baseupdate .info{
    margin-top: -10%;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.baseupdate .input{
    margin-left: 15%;
    width: 200px;
}
.baseupdate .boton{
    flex-direction: column;
    margin-top: 20px;
    background-color: #765689;
}